<div class="form-wrapper">
  <div class="input-wrapper">
    <h2 class="card-title">Forgot Password</h2>

    <div *ngIf="showError" class="alert-field alert-danger">
      {{ errorMessage }}
    </div>
  
    <div *ngIf="showSuccess" class="alert-field alert-success">
      {{ successMessage }}
    </div>

    <form class="forgot-password" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="input-wrapper">
        <label for="email"><b>Email<span class="required">*</span></b></label>
        <input type="text" placeholder="Enter your email" name="email" [(ngModel)]="form.email" required
          #email="ngModel"
          pattern='^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'
          (input)="showError = false; showSuccess = false" />

        <div class="alert-field" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors['required']">Email is required</div>
          <div *ngIf="email.errors['pattern']">Please enter a valid email</div>
        </div>

        <button type="submit" class="btn submit-btn">Submit</button>
      </div>
    </form>
  </div>
</div>