@import "~src/styles";

.input-wrapper {
  max-width: 400px;
  height: 200px;
  margin: 30px auto 5px auto;
}

.input-wrapper label {
  text-shadow: 1px 1px black;
}

input[type="text"]{
  width: 100%;
  max-width: 600px;
  padding: 12px 20px 12px 12px;
  margin: 8px 0;
  height: 100px;
  display: inline-block;
  border: 1px solid $txt-color;
  box-sizing: border-box;
  text-align: center;
}

input[type="message"]{
    width: 100%;
    height: 100px;
}

.form-wrapper {
  max-width: 800px;
  text-align: center;
  margin: auto;
}

.page-wrapper {
  max-width: 800px;
  text-align: center;
  margin: auto;
}

.alert-field {
  margin: 5px auto 10px auto;
  color: #ffffff;
  background-color: #ad3b32;
  border: 1px solid #f5c2c7;
  border-radius: 3px;
  padding: 3px 0 3px 10px;
  text-align: center;
}

.result-msg {
  margin-bottom: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.buttons-wrapper {
  text-align: center;
  margin: 2px auto 20px auto;
}

.btn-confirm,
.btn-cancel {
  max-width: 150px;
}

.btn-reject,
.btn-cancel {
  background-color: #af0404;
}

.btn-reject:hover,
.btn-cancel:hover {
  background-color: #da0202;
}
.btn-reject:hover{
  background-color: #da0202;
}

.btn-approve,
.btn-confirm-reject,
.btn-confirm-approve{
  background-color: #009c0d;
}

.btn-approve:hover,
.btn-confirm-approve:hover,
.btn-confirm-reject:hover{
  background-color: #00c911;
}

.reject-confirm {
  text-align: center;
  margin: 30px auto 20px auto;
}

.error-page,
.result-message-wrapper {
  text-align: center;
}

.required {
  color: #f44336;
  font-size: 24px;
}
