<div class="form-wrapper">
  <form
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate
  >
    <div class="input-wrapper">
      <div class="input-wrapper">
        <label for="email"
          ><b>Email<span class="required">*</span></b></label
        >
        <input
          type="text"
          placeholder="Enter your email"
          name="email"
          [(ngModel)]="form.email"
          required
          #email="ngModel"
          (input)="loginError = false"
        />

        <div class="alert-field" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors['required']">Email is required</div>
        </div>
      </div>
    </div>

    <div class="input-wrapper">
      <label for="password"
        ><b>Password<span class="required">*</span></b></label
      >
      <input
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Enter Password"
        name="password"
        [(ngModel)]="form.password"
        required
        #password="ngModel"
        (input)="loginError = false"
      />
      <fa-icon
        (click)="togglePassword()"
        class="toggle-password"
        [icon]="showPassword ? faEye : faEyeSlash"
      ></fa-icon>

      <div class="alert-field" *ngIf="password.errors && f.submitted">
        <div *ngIf="password.errors['required']">Password is required</div>
      </div>
    </div>

    <button type="submit" class="submit-btn">Login</button>

    <div *ngIf="loginError">
      <div class="loginError">{{ loginErrorMsg }}</div>
    </div>

    <div class="login-links">
      <a class="forgot-button" [routerLink]="['/forgot-password']"
        >Forgot Password?</a
      >
    </div>
  </form>
</div>
