@import "~src/styles";

.form-wrapper {
  width: 60%;
  max-width: 500px;
}

.form-wrapper {
  min-width: 240px;
  margin: 32px auto;
  padding: 16px;
  border: 2px solid $txt-color;
  border-radius: 5px;
  transition: all 0.2s;
  backdrop-filter: blur(8px);
}

.card-title {
  text-align: center;
}

.input-wrapper {
  margin: 5px auto 5px auto;
}

.input-wrapper label {
  text-shadow: 1px 1px black;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px 12px 12px;
  margin: 8px 0;
  height: 42px;
  display: inline-block;
  border: 1px solid $txt-color;
  box-sizing: border-box;
}

.submit-btn {
  background-color: #5c470d;
  color: #ffffff;
  padding: 14px 20px;
  cursor: pointer;
  width: 100%;
  border: none;
  margin: 8px 0 0;
  font-size: 16px;
  font-weight: bold;
}

button:hover {
  opacity: 0.8;
}

.alert-field {
  color: #ffffff;
  background-color: #ad3b32;
  border: 1px solid #f5c2c7;
  border-radius: 3px;
  padding: 3px 0 3px 10px;
  text-align: center;
  margin-top: 10px;
}

.alert-danger {
  color: #ffffff;
  background-color: #ad3b32;
  border: 1px solid #f5c2c7;
  border-radius: 3px;
  padding: 3px 0 3px 10px;
}

.alert-success {
  color: #ffffff;
  background-color: #2fac63;
  border: 1px solid #f5c2c7;
  border-radius: 3px;
  padding: 3px 0 3px 10px;
}

.required {
  color: #f44336;
  font-size: 24px;
}
