<div class="form-wrapper">
    <div class="input-wrapper">
        <h2 class="card-title">Reset Password</h2>

        <div *ngIf="showError" class="alert-field alert-danger">
            <span>{{ errorMessage }}</span>
        </div>
    
        <div *ngIf="showSuccess" class="alert-field alert-success">
            <span>{{ successMessage }}</span>
        </div>

        <form class="reset-password" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="input-wrapper">
                <label for="password"><b>New Password<span class="required">*</span></b></label>
                <input class="form-control" placeholder="Enter New Password" type="password" name="password"
                    minlength="10" required [(ngModel)]="form.password" #password="ngModel"
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&\#^\(\)_\-;:+])[A-Za-z\d@$!%*?&\#^\(\)_\-;:+]{10,65}$"
                    (input)="showSuccess = false; showError = false" />

                <div class="alert-field" *ngIf="password.errors && f.submitted">
                    <div *ngIf="password.errors['required']">
                        New Password is required
                    </div>
                    <div *ngIf="password.errors['minlength']">
                        Password must be at least 10 characters
                    </div>
                    <div *ngIf="password.errors['pattern']">
                        Password must contain at least one uppercase letter, one lowercase
                        letter, one number, one special symbol. Maximum length is 65
                        characters.
                    </div>
                </div>
            </div>

            <div class="input-wrapper">
                <label for="confirmPassword"><b>Confirm New Password<span class="required">*</span></b></label>
                <input class="form-control" placeholder="Repeat New Password" type="password" name="confirmPassword"
                    minlength="10" ngValidateEqual="password" required [(ngModel)]="form.confirmPassword"
                    #confirmPassword="ngModel" (input)="showSuccess = false; showError = false" />

                <div class="alert-field" *ngIf="confirmPassword.errors && f.submitted">
                    <div *ngIf="confirmPassword.errors['required']">
                        Confirm Password is required
                    </div>
                    <div *ngIf="confirmPassword.hasError('notEqual')">
                        Passwords do not match
                    </div>
                </div>
            </div>

            <button type="submit" class="btn submit-btn">Submit</button>
        </form>
    </div>
</div>